a{
  color: black !important;
}

p a:link{
  text-decoration: underline !important;
}

p a:hover{
 text-decoration: none !important;
}

.bg-green{
  background-color: #465846; 
  

}

.bg-cream{
  background-color: #b9d3a6;
}

body{
  font-family: "playfair" !important;
  color: black !important;
}

#carousel-img{
  filter: opacity(70%);
  filter:contrast(60%) ;
}

.container {
  max-width: 60% !important;
}

.container-fluid{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@font-face {
  font-family: "playfair";
  src: url("PlayfairDisplay-VariableFont_wght.woff2");
 
}

@font-face {
  font-family: "playfair-italic";
  src: url("PlayfairDisplay-Italic-VariableFont_wght.woff2");
}



h1{
  font-size: 30px !important;
}

header{
  font-family: "playfair";
  font-size: 40px;
}




#subtitle{
  font-size: 28px;
  margin-top: -2%;
}

.text-box{
  padding-left: 3% ;
  padding-right: 3% ;
  margin-top: 1% ;
}




